#root {
  letter-spacing: 1px;
  color: #551ae8;
}

.contactsPage {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 70px);
}

.title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

.contactsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 10px 0px 0px 10px;
  overflow: scroll;
  padding-right: 20px;
}

.contactImage {
  border-radius: 50%;
  margin-left: 10px;
}

.contactListItem {
  width: 100%;
  margin: 5px 0px 5px 10px;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contactListItem:hover {
  cursor: pointer;
  background: lightgray;
}

.contactListTitle {
  font-weight: bold;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.contactsList p {
  padding-left: 10px;
  font-size: 14pt;
}

.contactInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background: white;
  margin: 10px;
  margin-left: 5px;
}

.information {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  height: 100%;
}

.informationBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.infoLogo {
  width: 40px;
  height: 40px;
  padding-right: 10px;
}

.boxInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titleLogo {
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.titleName {
  margin-bottom: 0px;

  font-size: 30pt;
  margin-top: 0px;
}

.titleJob {
  margin-top: 5px;
  margin-bottom: 15px;

  font-weight: normal;
}

.titleDescription p {
  margin: 5px;
}
.titleWords {
  padding: 10px;
  width: 100%;
}
