.NavBar {
  display: flex;
  align-items: center;
  max-height: 70px;
  border: 1px solid #a1a4ac;

  font-weight: bold;
  padding-left: 20px;
  font-size: 16pt;
  background: #1ae88f;
}

.logo {
  width: 40px;
  height: 40px;
  padding-right: 10px;
}
